{% extends "package/snippets/additional_info.html" %}
{%- set trimmed_keys = h.psbthemealt_remove_falsy_values(pkg_dict) | list -%}
{%- set exclude_fields = [
    'id',
    'title_translated',
    'title',
    'name',
    'notes',
    'notes_translated',
    'tag_string',
    'license_id',
    'owner_org'
]
-%}

{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields and field.display_snippet is not none and field.field_name in trimmed_keys -%}
      <tr>
        <th scope="row" class="dataset-label">
          {{h.scheming_language_text(field.label) }}
          {{display_snippet}}
        </th>
        <td class="dataset-details"{%if field.display_property %} property="{{ field.display_property}}"{% endif %}>
            {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
{% endblock %}
